In [1]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
from data_process import clean_data

In [2]:
movie_path = './ml-latest-small/movies.csv'
user_rat_path = './ml-latest-small/ratings.csv'
df_movies = pd.read_csv(movie_path)
df_rating  = pd.read_csv(user_rat_path)

In [3]:
df_movies,df_rating = clean_data(df_movies, df_rating)

NameError: name 'col' is not defined

In [4]:
df_rating

        user   product  daytime  weekend         y
0        0.5  0.500000      1.0      1.0  0.888889
1        0.5  0.500103      1.0      1.0  0.888889
2        0.5  0.500257      1.0      1.0  0.888889
3        0.5  0.502207      1.0      1.0  1.000000
4        0.5  0.502361      1.0      1.0  1.000000
...      ...       ...      ...      ...       ...
100831   1.0  0.984242      1.0      0.5  0.888889
100832   1.0  0.985628      1.0      0.5  1.000000
100833   1.0  0.985679      1.0      0.5  1.000000
100834   1.0  0.985730      1.0      0.5  1.000000
100835   1.0  0.987784      1.0      0.5  0.777778

[100836 rows x 5 columns]

In [ ]:
df_rating = df_rating[retain3]
rating_dum = df_rating.copy()
df_rating